In [1]:
docA = "the cat sat on my face"
docB = "the dog sat on my bed"

In [2]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [3]:
#tokenizing
bowB

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [4]:
#convert a tokenized BOW into numbers to get unique word
wordSet= set(bowA).union(set(bowB))

In [5]:
#all words in all bags/documents
wordSet

{'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [6]:
#I'll create dictionaries to keep my word counts.
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)

In [7]:
#This is what one of them looks like
wordDictA

{'bed': 0, 'sat': 0, 'on': 0, 'cat': 0, 'face': 0, 'dog': 0, 'my': 0, 'the': 0}

In [8]:
#now I'll count the words in my bags.
for word in bowA:
    wordDictA[word]+=1

for word in bowB:
    wordDictB[word]+=1

In [9]:
wordDictA

{'bed': 0, 'sat': 1, 'on': 1, 'cat': 1, 'face': 1, 'dog': 0, 'my': 1, 'the': 1}

In [10]:
#Lastly I'll stick those into a matrix.
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   bed  sat  on  cat  face  dog  my  the
0    0    1   1    1     1    0   1    1
1    1    1   1    0     0    1   1    1

In [11]:
#TF=No.of rep in a sen / No.of words in a sen  
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bowCount)
    return tfDict

In [12]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [13]:
#IDF=Log( No.of  sen )/ No.of  sen containing word

def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    #counts the number of documents that contain a word w
    idfDict = dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] +=1
                
    #divide N by denominator above, take the log of that
    for word, val in idfDict.items():
        idfDict[word]= math.log(N / float(val)) 

    return idfDict

In [14]:
idfs = computeIDF([wordDictA, wordDictB])

In [15]:
#TF * IDF
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [16]:
tfidfBowA =  computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [17]:
#Lastly I'll stick those into a matrix.
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

        bed  sat   on       cat      face       dog   my  the
0  0.000000  0.0  0.0  0.115525  0.115525  0.000000  0.0  0.0
1  0.115525  0.0  0.0  0.000000  0.000000  0.115525  0.0  0.0